{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<section id="headersection">'
    <div id="LeftSide">
         <h3 style="text-align:center;" class="colorText">Order Confirmed.</h3>
        <hr style="color:white;">
        <div style="display:block; width:50%; text-align:center; ">
            <h5 class="colorText">Shipped To:</h5>
            <p class="colorText" >Address: <strong>{{address}}</strong></p>
            <p class="colorText" >Zip Code: <strong>{{zipcode}}</strong></p>
            <p class="colorText">City and State: <strong>{{citystate}}</strong></p>
        </div>
    </div>



    <div id="RightSide">
        <h6 style="text-align: center; margin-top: 10%;">Hello {{username}} we will send you a a confirmation email to
            {{email}}</h6>

    </div>






</section>
{% endblock content %}
</body>
</html>